.is-root-container.is-desktop-preview.wp-site-blocks.block-editor-block-list__layout {
	background: white;
  	z-index: 17;
  	border: 2px solid currentColor;
}

html :where(.wp-block)[data-align="left"], 
html :where(.wp-block)[data-align="right"] {
	height: auto!important
}

html :where(.wp-block)[data-align="left"] > .acf-block-component,
html :where(.wp-block)[data-align="right"] > .acf-block-component {
	margin-right: 0!important;
	margin-left: 0!important;
	float: none!important;
}