@import '../../assets/scss/foundation/_variables.scss';



.c_feed {
	&__filter {
		position: relative;

		&:before {
			position: absolute;
			right: 0;
			bottom: -14px;
			left: 0;
			height: 7px;
			background: currentColor;
			opacity: 0;
			content: '';
		}

		&.is-active:before { opacity: 1; }
	}


	.loop-post {
		max-width: 250px;
		margin: 0 auto;
		min-width: 250px;
	}
}