@import '../../assets/scss/foundation/_variables.scss';

.hero_post {
	&__top {
		background: var(--bg);
	}

	&__image:after {
		position: absolute;
		inset: 0;
		z-index: 1;
		content: '';
		background: linear-gradient(to bottom, var(--bg), rgba(255,255,255,0));
	}

	@media (max-width: #{$screen_lg - 1}) {
		.container { --spacing-x: 0; }
	}
}