@import '../../assets/scss/foundation/_variables.scss';

.c_tabs {
	&__headline { max-width: 480px; }
}

.c_tab {
	@media (min-width: $screen_lg) {
		&__text { margin: auto 0; }
	}
}

.tab-group {
	display: flex;
	flex-wrap: wrap;
	margin: 1px;
}

.tab {
	margin: -1px;
	padding: 10px 12px;
	border: 2px solid var(--rust);
	color: var(--rust);
	text-align: center;
	font-family: var(--articulat);
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.01em;
	text-transform: uppercase;

	&.is-active {
		background: var(--rust);
		color: var(--white);
	}
}