.f {

	position: relative;
	background: var(--blue-lightest);

	&:before {
		position: absolute;
		z-index: -1;
		top: calc(-2 * var(--gutter-y));
		right: 0;
		left: 0;
		height: var(--gutter-y);
		content: '';
		background: linear-gradient(to top, var(--blue-lightest), rgba(255,255,255,0));
	}

	&:after {
		position: absolute;
		top: calc(-1 * var(--gutter-y));
		right: 0;
		left: 0;
		height: var(--gutter-y);
		content: '';
		background: var(--blue-lightest);
	}

	margin-top: var(--gutter-y);

	&_logo {
		width: 150px; 
	}

	&_logo__wrapper {
		margin-bottom: var(--gutter-y);
		padding-bottom: var(--gutter-y);
		border-bottom: 2px solid var(--blue-light);
	}

	#app & .gform-theme--framework {
		input[type="color"],
		input[type="date"],
		input[type="datetime-local"],
		input[type="datetime"],
		input[type="email"],
		input[type="month"],
		input[type="number"],
		input[type="password"],
		input[type="search"],
		input[type="tel"],
		input[type="text"],
		input[type="time"],
		input[type="url"],
		input[type="week"],
		input[type="file"],
		select,
		textarea {
			padding: 8px 36px 8px 12px!important;
			border: 0;
			border: 2px solid currentColor;
		}

		form {
			position: relative;
			margin-top: 12px;
		}

		.gfield_label { @extend .sr-only; }

		.gform_footer {
			position: absolute;
			top: 0;
			right: 10px;
			margin-top: 0;
		}

		.gform_button {
			font-size: 0;
			height: 41.5px;

			&:before { display: none; }

			&:after {
				margin-left: -0.4em;
				font-family: "Font Awesome 7 Free"!important;
				font-weight: 900;
				font-size: 16px;
				content: '\f061';
				transition: all var(--time);
			}
		}
	}


	@media (min-width: $screen_lg) {
		&_logo {
			width: 470px; 
		}

		&_logo__wrapper {
			margin-top: 48px;
			margin-bottom: 48px;
			padding-bottom: 96px;
		}

		&_cta {
			flex: 0 0 25%; 
		}
	}
}