.h {
	z-index: 10;
}

.h_logo {
	width: 160px;
	transition: all var(--time);

	@media (min-width: $screen_lg) {
		width: 265px;
	}
}

.h_nav {
	position: absolute;
  	top: 100%;
	right: 0;
	left: 0;
	z-index: 1;
	overflow: scroll;
	margin-top: 1px;
	padding: 24px var(--gutter-x);
	height: calc(100dvh - var(--wp-admin--admin-bar--height, 0px) - var(--header-height, 0px));
	background: var(--blue);
	color: var(--white);
  	opacity: 0;
  	visibility: hidden;
  	transition: all var(--time);

  	&.is-active {
  		opacity: 1;
  		visibility: visible;
  	}

  	&__utility {
  		padding-bottom: 24px;
  		margin-bottom: 24px;
  		border-bottom: 1px solid currentColor;
  		font-weight: 600;

  		.i { margin-top: 0.1em; }
  	}

  	&__primary {
  		font-size: 22px;
  		line-height: 1.5;
  	}

  	@media (min-width: $screen_lg) {
  		position: static;
  		z-index: 0;
  		overflow: visible;
  		padding: 0;
  		height: auto;
  		opacity: 1;
  		visibility: visible;
  		background: transparent;
  		color: var(--blue-dark);

  		&__utility {
  			padding-bottom: 0;
  			margin-bottom: 0;
  			border-bottom: 0;
  		}

  		&__primary {
  			padding-bottom: 24px;
  			border-bottom: 2px solid var(--blue-light);
  			font-weight: 700;
  			font-size: 18px;
  		}

  		&__primary-i {
  			position: relative;

  			&:before {
  				position: absolute;
  				right: 0;
  				left: 0;
  				bottom: -26px;
  				height: 0;
  				background: var(--blue);
  				content: '';
  				transition: all var(--time);
  			}

  			&:hover:before {
				height: 4px;
			}

			&.is-active:before {
				height: 8px;
			}
  		}
  	}
}

.h_menu-toggle {
	margin-left: 24px;
	width: 29px;
	height: 20px;
	transition: none;

	&:before,
	&:after,
	span {
		display: block;
		width: 100%;
		height: 3px;
		background: currentColor;
		border-radius: 2px;
		content: '';
		transition: all var(--time);
	}

	&.is-active {
		&:before { transform: translateX(5.5px) translateY(-1.25px) rotate(45deg); transform-origin: top left; }
		&:after { transform: translateX(5.5px) translateY(1.25px) rotate(-45deg); transform-origin: bottom left; }
		span { opacity: 0; }
	}
}

.h_search {
	@media (min-width: $screen_lg) {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		padding: 24px 0;
		background: var(--blue);
		color: var(--white);
	}
}