.hero_home {

	&__top {
		background: linear-gradient(180deg, rgba(46, 68, 109, 0.92) -6.28%, rgba(54, 86, 156, 0.46) 81.93%, rgba(89, 132, 211, 0.00) 106.28%);
		background-blend-mode: multiply;
	}

	&__control {
		position: absolute;
		bottom: 12px;
		right: 12px;
		border: 0;
	}
	
	@media (min-width: $screen_xl) {

		&__top {
			background: linear-gradient(90deg, rgba(46, 68, 109, 0.92) 0%, rgba(54, 86, 156, 0.46) 60.84%, rgba(89, 132, 211, 0.00) 79.82%); 
		}

		&__control {
			bottom: 36px;
			right: 36px;
		}

		&__media {
			margin-top: -160px;
			margin-left: auto;
			width: 60%;
		}
	}

	@media (max-width: #{$screen_xl - 1}) {
		&__container {
			--spacing-x: 0;
		}
	}
}

.hero_interior {
	
	&.has-img { margin-bottom: 150px; }

	&__image { margin-bottom: -150px; }

	@media (min-width: $screen_lg) {

		&.has-img &__container { min-height: 500px; }
		&.has-img &__content { align-self: center; }

		&.has-img { margin-bottom: 360px; }
		&__image { margin-bottom: -460px; }
		
	}
}

.hero_featured-post {

	--size: 300px;

	margin-bottom: var(--size);

	&__post { margin-bottom: calc(-1 * var(--size)); }

	&__excerpt {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}

	@media (min-width: $screen_lg) {
		&__post { margin-top: 60px; }
	}

	@media (min-width: $screen_xl) {
		&__post { margin-top: -30px; }
	}
}

.hero_post {
	


	
	@media (max-width: #{$screen_lg - 1}) {
		.gridmarks,
		.gridmarks__wrapper { display: none; }

		&__top { padding-bottom: 120px; }
	}
}